<template>
  <div class="home">
    <Index />
  </div>
</template>

<script>
// @ is an alias to /src
import Index from '@/components/Index.vue'

export default {
  name: 'Home',
  components: {
    Index,
  },
  created(){
    if (!this.$cookies.get('userInfo')) {
        this.$router.push('/login')
    }
  },

}
</script>
