<template>
  <LoginForm/>
</template>

<script>
import LoginForm from '@/components/LoginForm.vue'

export default {
  name: 'Home',
  components: {
    LoginForm
  },
  created() {
    if (this.$cookies.get('userInfo')) {
        this.$router.push('/')
    }
  },
}
</script>