<template>
  <v-card>
    <v-card-title>
      <span class="headline text--primary" v-text="title"></span>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="搜尋"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :loading="loading"
      loading-text="Loading... Please wait"
      :headers="headers"
      :items="apps"
      :items-per-page="5"
      class="elevation-1"
      :search="search"
      @click:row="handleClick"
      hide-default-footer
      disable-pagination
    ></v-data-table>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data () {
      return {
        title: '應用程式清單',
        search: '',
        loading: false,
        appsUrl: 'AppBase',
        headers: [
          {
            text: '名稱',
            align: 'start',
            sortable: false,
            value: 'name',
          },
        ],
        apps: [],
      }
    },
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
        'domain',
      ]),
    },
    mounted() {
        this.getApps();
    },
    methods: {
      getApps() {
        var self = this;
        self.loading = true;
        self.axios.post(`${self.domain}${self.appsUrl}`, { accessToken: self.userInfo.accessToken})
            .then(response => {
              self.loading = false;
              self.apps = response.data;
            })
            .catch(function (error) { console.log(error) });
      },
      handleClick(value) {
        console.log(value);
        this.$router.push('/group/' + value.appID);
      },
    }
  }
</script>
