<template>
    <div>
        <v-breadcrumbs v-show="items.length > 1" :items="items" large></v-breadcrumbs>
    </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data: () => ({
        appsUrl: 'AppBase',
        groupsUrl: 'FunctionGroupBase/getFunctionGroupBases',
        functionsUrl: 'AppFunction/getAppFunctions',
        subfunctionsUrl: 'SubAppFunction/getSubAppFunctions',
        items: [
            {
              text: '應用程式管理',
              disabled: false,
              to: `/`,
            },
        ],
        defaultItems: [
            {
              text: '應用程式管理',
              disabled: false,
              to: `/`,
            },
        ],
        routeName: '',
        routeParams: {},
        groups: [],
        funcitons: [],
        subfunctions: []
    }),
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
        'domain',
      ]),
    },
    mounted(){
      this.getBread();
    },
    watch: {
      $route (){
        this.getBread();
      }
    },
    methods: {
      getBread() {
          var self = this;
          self.routeName = self.$route.name
          self.routeParams = self.$route.params

          self.items = Object.assign([], this.defaultItems)

          if(self.routeParams.appID){
            self.getAppName()
          }
      },
      getAppName() {
        var self = this
        self.axios.post(`${self.domain}${self.appsUrl}`, { 
              accessToken: self.userInfo.accessToken,
              appID: self.routeParams.appID,
            })
            .then(response => {
              let data = response.data.find(d => d.appID == self.routeParams.appID)
              if(data){
                self.items.push(
                  {
                    text: data.name,
                    disabled: true,
                    to: `/group/${self.routeParams.appID}`,
                  }
                )

                if(self.routeParams.functionGroupID){
                  self.items[self.items.length - 1].disabled = false
                  self.getGroupName()
                }
              }
            })
            .catch(error => { console.log(error) });
      },
      getGroupName() {
        var self = this
        self.axios.post(`${self.domain}${self.groupsUrl}`, { 
              accessToken: self.userInfo.accessToken,
              appID: self.routeParams.appID,
            })
            .then(response => {
              let data = response.data.data.find(d => d.functionGroupID == self.routeParams.functionGroupID)
              if(data){
                self.items.push(
                  {
                    text: data.name,
                    disabled: true,
                    to: `/function/${self.routeParams.appID}/${self.routeParams.functionGroupID}`,
                  }
                )

                if(self.routeParams.functionID){
                  self.items[self.items.length - 1].disabled = false
                  self.getFunctionName()
                }
              }
            })
            .catch(error => { console.log(error) });
      },
      getFunctionName() {
        var self = this
        self.axios.post(`${self.domain}${self.functionsUrl}`, { 
              accessToken: self.userInfo.accessToken,
              appID: self.routeParams.appID,
              functionGroupID: self.routeParams.functionGroupID,
            })
            .then(response => {
              let data = response.data.data.find(d => d.functionID == self.routeParams.functionID)
              if(data){
                self.items.push(
                  {
                    text: data.name,
                    disabled: true,
                    to: `/subfunction/${self.routeParams.appID}/${self.routeParams.functionGroupID}/${self.routeParams.functionID}`,
                  }
                )

                if(self.routeParams.subfunctionID){
                  self.items[self.items.length - 1].disabled = false
                  self.getSubfunctionName()
                }
              }
            })
            .catch(error => { console.log(error) });
      },
      getSubfunctionName() {
        var self = this
        self.axios.post(`${self.domain}${self.subfunctionsUrl}`, { 
              accessToken: self.userInfo.accessToken,
              appID: self.routeParams.appID,
              functionGroupID: self.routeParams.functionGroupID,
              functionID: self.routeParams.subfunctionID,
            })
            .then(response => {
              let data = response.data.data.find(d => d.appFunctionID == self.routeParams.subfunctionID)
              if(data){
                self.items.push(
                  {
                    text: data.name,
                    disabled: true,
                    to: `/`,
                  }
                )
              }
            })
            .catch(error => { console.log(error) });
      },
    }
  }
</script>