
<template>
  <v-card>
    <v-card-title>
      <span class="headline text--primary" v-text="title"></span>
    </v-card-title>
    <v-card-text>
        <v-container>
            <v-row>
                <v-col cols="12" sm="12" md="6">
                    <v-select
                        :items="apps"
                        item-text="name"
                        item-value="appID"
                        label="應用程式"
                        :loading="loading"
                        v-model="editedItem.appID"
                        @change="getView()"
                    ></v-select>
                </v-col>
                <v-col cols="12" sm="12" md="6">
                    <v-autocomplete
                    v-model="editedItem.keywords"
                    :loading="userLoading"
                    :items="items"
                    :search-input.sync="searchUserKey"
                    label="工號"
                    hide-details
                    hide-selected
                    item-text="Account"
                    item-value="Account"
                    @change="changeUser"
                    >
                    <template v-slot:selection="{ attr, on, item, selected }">
                        <v-chip
                        v-bind="attr"
                        :input-value="selected"
                        color="indigo"
                        class="white--text"
                        v-on="on"
                        small
                        >
                        <v-icon left>mdi-account-circle</v-icon>
                        <span v-text="item.Account" class="mr-2"></span>
                        <span v-text="item.name"></span>
                        </v-chip>
                    </template>      
                    <template v-slot:item="{ item }">
                        <v-list-item-avatar
                        color="indigo"
                        class="headline font-weight-light white--text"
                        >
                        {{ item.name.charAt(0) }}
                        </v-list-item-avatar>        
                        <v-list-item-content>
                        <v-list-item-title v-text="item.name"></v-list-item-title>
                        <v-list-item-subtitle v-text="item.Account"></v-list-item-subtitle>
                        <v-list-item-subtitle v-text="item.departName"></v-list-item-subtitle>
                        </v-list-item-content>
                    </template>
                    </v-autocomplete>
                </v-col>
            </v-row>
            <v-row v-show="mainMenu.length">
                <v-col cols="12" sm="10" md="6">
                    <v-card>
                        <v-app-bar
                        color="blue accent-3"
                        dense
                        dark
                        >
                            <v-toolbar-title>{{demoTitle}}</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-app-bar>

                        <div v-for="(item) in mainMenu" :key="item.name">
                            <h3 class="text-center pt-3 pb-3 white--text teal">
                                {{item.functionGroupName}}
                            </h3>
                            <v-row>
                                <v-col v-for="(func) in item.functions" cols="4" sm="4" md="4" :key="func.functionCode">
                                    <v-img v-if="!func.iconURL" src="@/assets/icon_placeholder.jpg" aspect-ratio="1.7" contain></v-img>
                                    <v-img v-else :src="func.iconURL" aspect-ratio="1.7" contain></v-img>
                                </v-col>
                            </v-row>
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-card-text>


  </v-card>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data: () => ({
        title: '使用者畫面預覽',
        appsUrl: 'AppBase',
        autoUsersUrl: 'Account/getAutoAccounts',
        mainMenuUrl: 'MainMenu/getMainMenuByAccount',
        loading: false,
        apps: [],
        searchUserKey: null,
        userLoading: false,
        items: [],
        editedItem: {
            appID: 1,
            keywords: '',
            menuID: 1,
            uuid: '',
        },
        mainMenu: [],
    }),
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
        'domain',
      ]),
      demoTitle () {
          return this.apps.find(a => {return a.appID == this.editedItem.appID})?.name
      },
    },
    mounted(){
        this.getApps()
    },
    watch: {
      searchUserKey (val) {
        !val || this.getUsersDebounced()
      },
    },
    methods: {
      //應用程式清單
      getApps() {
        var self = this;
        self.loading = true;
        self.axios.post(`${self.domain}${self.appsUrl}`, { accessToken: self.userInfo.accessToken})
            .then(response => {
              self.loading = false;
              self.apps = response.data;
            })
            .catch(function (error) { console.log(error) });
      },
      //搜尋使用者去抖
      getUsersDebounced() {
        clearTimeout(this._searchTimerId)
        this._searchTimerId = setTimeout(() => {
          this.getUsers()
        }, 500) /* 500ms throttle */
      },
      //搜尋使用者
      getUsers() {
        this.userLoading = true;
        setTimeout(() => {
          this.axios.post(`${this.domain}${this.autoUsersUrl}`, {
                accessToken: this.userInfo.accessToken,
                keywords: this.searchUserKey
              })
              .then(response => {
                this.items = response.data
              })
              .catch(error => { console.log(error) })
              .finally(() => (this.userLoading = false))
        }, 1000)
      },
      //使用者清單選擇使用者
      changeUser(item) {
        if (item){
          console.log(item)
          var user = this.items.find(i => {return i.Account == item})
          this.editedItem.name = user?.name || ''
        } else {
          this.editedItem.name = ''
        }
        this.getView()
      },
      getView() {
        var self = this;
        if(this.editedItem.keywords){
          this.axios.post(`${this.domain}${this.mainMenuUrl}`, {
                accessToken: this.userInfo.accessToken,
                keywords: this.editedItem.keywords,
                appID: this.editedItem.appID,
                menuID: 1
              })
            .then(response => {
              self.mainMenu = response.data.menu;
            })
            .catch(function (error) { console.log(error) });
        }else{
            self.mainMenu = []
        }
      }
    }
  }
</script>