<template>
 <v-card>
    <v-card-title>
      <span class="headline text--primary" v-text="title"></span>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="搜尋"
        hide-details
        clearable
      ></v-text-field>
    </v-card-title>

    <v-snackbar
      v-model="snackbar"
      :color="snackbarOption.color"
      :multi-line="snackbarOption.multiline"
      :timeout="snackbarOption.timeout"
      :top="snackbarOption.top"
    >
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
         關閉 
        </v-btn>
      </template>
    </v-snackbar>

    <v-data-table
      :loading="loading"
      loading-text="Loading... Please wait"
      v-bind:headers="headers"
      :items="groupsInfo.data"
      item-key="sortOrder"
      class="elevation-1" 
      :search="search"
      hide-default-footer
      disable-pagination
      ref="sortableTable"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="info"
                dark
                class="ma-2 d-none d-sm-flex"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon left>mdi-plus</v-icon>
                新增
              </v-btn>
              <v-btn color="info" fab small dark class="ma-2 d-flex d-sm-none"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.name" label="中文名稱" clearable></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12" class="d-none">
                    <!--<v-col cols="12" sm="12" md="12">-->
                      <v-text-field v-model="editedItem.sortOrder" label="排序" hide-details single-line type="number" />
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-checkbox v-model="editedItem.isEnabled" label="停／啟用"></v-checkbox>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="save" :disabled="!editedItem.name">
                  <v-icon left>mdi-content-save</v-icon> {{btnSave}}
                </v-btn>
                <v-btn color="blue darken-1" text @click="close">
                  <v-icon left>mdi-close</v-icon> 取消
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-btn
            color="teal"
            dark
            class="ma-2 d-none d-sm-flex"
            @click="saveOrder"
          >
            <v-icon left>mdi-content-save</v-icon>
            儲存排序
          </v-btn>
          <v-btn color="teal" fab small dark class="ma-2 d-flex d-sm-none" @click="saveOrder">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>

          <v-btn
            color="deep-orange lighten-1"
            dark
            class="ma-2 d-none d-sm-flex"
            @click="resetSort"
          >
            <v-icon left>mdi-format-align-justify</v-icon>
            重新排序
          </v-btn>
          <v-btn color="deep-orange lighten-1" fab small dark class="ma-2 d-flex d-sm-none" @click="resetSort"> 
            <v-icon>mdi-format-align-justify</v-icon>
          </v-btn>
        </v-toolbar>
      </template>

      <template v-slot:item.sortOrder="{item}" v-if="groupsInfo.isMovable">
        <span class="d-none">{{item.sortOrder}}</span>
        <v-icon style="cursor: move" class="sortHandle">drag_handle</v-icon>
      </template>

      <template v-slot:item.isEnabled="{item}">
        <v-checkbox class="ml-2" v-model="item.isEnabled" @change="enabled(item)" disabled></v-checkbox>
      </template>

      <template v-slot:item.name="{item}">
        <v-btn outlined color="primary" @click="goFunctions(item.functionGroupID)">({{ item.scount }}) {{ item.name }} </v-btn>
      </template>

      <template v-slot:item.priv="{item}">
        <v-chip color="teal" text-color="white" class="mr-2" @click="goPermission('user', item.functionGroupID)" > <v-icon left>person</v-icon> {{item.ucount}} </v-chip>
        <v-chip color="cyan" text-color="white" class="mr-2" @click="goPermission('dept', item.functionGroupID)" > <v-icon left>work</v-icon> {{item.dcount}} </v-chip>
        <v-chip color="indigo" text-color="white" class="mr-2" @click="goPermission('group', item.functionGroupID)" > <v-icon left>people</v-icon> {{item.gcount}} </v-chip>
      </template>

      <template v-slot:item.action="{item}">
        <v-btn class="text-capitalize" icon color="blue" @click="editItem(item)"><v-icon>mdi-pencil</v-icon></v-btn>
      </template>

      <!--<template slot="item" slot-scope="props" style="height: calc(100vh - 250px); overflow: auto;">
        <tr class="sortableRow" :key="props.item.sortOrder">
          <td class="px-1">
            <v-btn style="cursor: move" icon class="sortHandle"><v-icon>drag_handle</v-icon></v-btn>
          </td>
          <td class="text-left">
            <v-checkbox v-model="props.item.isEnabled"></v-checkbox>
          </td>
          <td class="text-left">{{ props.item.functionGroupID }}</td>
          <td class="text-left"><v-btn outlined color="primary">({{ props.item.scount }}) {{ props.item.name }} </v-btn></td>
          <td class="text-left">
            <v-btn icon color="teal"><v-icon>person</v-icon></v-btn> {{ props.item.ucount }}
            <v-btn icon color="teal"><v-icon>people</v-icon></v-btn> {{ props.item.ucount }}
          </td>
        </tr>
      </template>-->
    </v-data-table>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';
  import Sortable from 'sortablejs';

  export default {
    props: {
        appID: String,
    },
    data () {
      return {
        dialog: false,
        snackbar: false,
        snackbarOption: {
          color: 'success',
          multiline: false,
          timeout: 4000,
          top: true,
        },
        text: 'Hello, I\'m a snackbar',
        title: '群組清單',
        search: '',
        loading: false,
        groupsUrl: 'FunctionGroupBase/getFunctionGroupBases',
        updGroupsUrl: 'FunctionGroupBase/updateFunctionGroupBases',
        addGroupUrl: 'FunctionGroupBase/addFunctionGroupBase',
        headers: [
          {
            sortable: false,
            align: 'center',
            value: 'sortOrder'
          },
          {
            text: '停／啟用',
            sortable: false,
            align: 'left',
            value: 'isEnabled'
          },
          {
            text: '群組編號',
            sortable: false,
            align: 'center',
            value: 'functionGroupID',
          },
          {
            text: '群組名稱',
            sortable: false,
            align: 'left',
            value: 'name',
          },
          {
            text: '權限管理',
            sortable: false,
            align: 'left',
            value: 'priv',
          },
          {
            text: '功能區',
            sortable: false,
            align: 'center',
            value: 'action',
          },
        ],
        isMovable: false,
        groupsInfo: {},
        editedIndex: -1,
        editedItem: {
          name: '',
          isEnabled: true,
        },
        defaultItem: {
          name: '',
          isEnabled: true,
        },
      }
    },
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
        'domain',
      ]),
      formTitle () {
        return this.editedIndex === -1 ? '新增群組' : '編輯群組'
      },
      btnSave () {
        return this.editedIndex === -1 ? '新增' : '儲存'
      },
      fheaders () {
        return this.headers.filter()  
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    created() {
      this.getGroups();
    },
    methods: {
      getGroups() {
        var self = this;
        self.loading = true;
        self.axios.post(`${self.domain}${self.groupsUrl}`, { 
              accessToken: self.userInfo.accessToken,
              appID: self.appID,
            })
            .then(response => {
              self.loading = false
              self.groupsInfo = response.data
              //console.log(self.$refs.sortableTable.$el.getElementsByTagName('tbody')[0])

              self.$nextTick(() => {
                new Sortable(
                  self.$refs.sortableTable.$el.getElementsByTagName('tbody')[0],
                  {
                    //draggable: '.sortableRow',
                    handle: '.sortHandle',
                    forcePlaceholderSize: true,
                    onEnd: this.dragReorder
                  }
                )

              })
            })
            .catch(error => { console.log(error) });
      },
      editItem (item) {
        this.editedIndex = this.groupsInfo.data.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.groupsInfo.data[this.editedIndex], this.editedItem)

          this.axios.post(`${this.domain}${this.updGroupsUrl}`, {
              accessToken: this.userInfo.accessToken,
              sortList: [this.editedItem]
          })
          .then(() => {
            this.text = '修改完成'
            this.snackbarOption.color = 'green'
            this.snackbar = true;
          })
          .catch(error => { console.log(error) })

        } else {
          //this.groupsInfo.data.push(this.editedItem)

          this.editedItem.appID = this.appID

          this.axios.post(`${this.domain}${this.addGroupUrl}`, {
              accessToken: this.userInfo.accessToken,
              appID: this.appID,
              sortList: this.editedItem,
          })
          .then((res) => {
            this.groupsInfo.data.push(res.data)

            this.text = '新增完成'
            this.snackbarOption.color = 'green'
            this.snackbar = true;
          })
          .catch(error => { console.log(error) })
        }
        this.close()
      },
      enabled (item) {
        console.log(item);
        this.axios.post(`${this.domain}${this.updGroupsUrl}`, {
            accessToken: this.userInfo.accessToken,
            sortList: [item]
        })
        .then(() => {
          this.text = `${item.name} - ${item.isEnabled ? '啟用' : '停用'}`
          this.snackbarOption.color = item.isEnabled ? 'green' : 'red'
          this.snackbar = true;
        })
        .catch(error => { console.log(error) });
      },
      resetSort (){
        this.groupsInfo.data = this.groupsInfo.data.sort(
            function (a, b) {
                return a.sortOrder - b.sortOrder;
            }
        );
      },
      dragReorder ({oldIndex, newIndex}) {
        const movedItem = this.groupsInfo.data.splice(oldIndex, 1)[0]
        this.groupsInfo.data.splice(newIndex, 0, movedItem)
      },
      saveOrder (){
        this.axios.post(`${this.domain}${this.updGroupsUrl}`, {
            accessToken: this.userInfo.accessToken,
            sortList: this.groupsInfo.data
        })
        .then(() => {
          this.text = '儲存完成'
          this.snackbarOption.color = 'black'
          this.snackbar = true

          this.getGroups()
        })
        .catch(error => { console.log(error) });
      },

      goPermission(type, val) {
        let domain = 'priv'
        this.$router.push(`/${domain}/${type}/${this.appID}/${val}`)
      },
      goFunctions(val) {
        this.$router.push(`/function/${this.appID}/${val}`);
      },
    }
  }
</script>
