<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      class="indigo darken-1"
      dark
      app
    >
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-avatar color="indigo lighten-1" size="36">
            <v-icon dark>mdi-account-circle</v-icon>
          </v-avatar>

          <v-list-item-content>
            <v-list-item-title>{{userInfo.name}}</v-list-item-title>
            <!--<v-list-item-subtitle>Logged In</v-list-item-subtitle>-->
          </v-list-item-content>
        </v-list-item>
      </template>

      <v-divider></v-divider>

      <v-list 
        dense
        nav
      >
        <template v-for="item in items">
          <v-list-item
            :key="item.text"
            link
            @click="goRoute(item.name)"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn block color="indigo accent-2" @click="logout">登出</v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="blue darken-3"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <!--<span class="hidden-sm-and-down">Google Contacts</span>-->
        {{title}}
        {{this.$route.param}}
      </v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container fluid>
        <Breadcrumb></Breadcrumb>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import { mapState } from 'vuex';
  import Breadcrumb from '@/components/Breadcrumb.vue'

  export default {
    props: {
        source: String,
    },
    created(){
      this.$store.commit('setUserInfo', this.$cookies.get('userInfo') || {});
    },
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
      ]),
    },
    components: {
        //AppManage,
        Breadcrumb
    },
    data: () => ({
        title: 'App權限管理平台',
        dialog: false,
        drawer: null,
        items: [
            { icon: 'mdi-apps', text: '應用程式管理', name: 'App' },
            { icon: 'mdi-card-search', text: '使用者畫面預覽', name: 'Demo' },
        ],
    }),
    methods: {
      logout(){
        this.$cookies.remove('userInfo')
        this.$router.push('/login')
      },
      goRoute(name){
        if(this.$route?.name !== name)
        {
          this.$router.push({name: name})
        }
      },
    },
  }
</script>