
<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>權限管理平台</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form lazy-validation>
                  <v-text-field
                    label="帳號"
                    name="login"
                    prepend-icon="person"
                    type="text"
                    v-model="form.account"
                    :rules="accountRules"
                    required
                    clearable
                  />

                  <v-text-field
                    id="password"
                    label="密碼"
                    name="password"
                    prepend-icon="lock"
                    :type="show ? 'text' : 'password'"
                    v-model="form.password"
                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show = !show"
                    :rules="passwordRules"
                    required
                    clearable
                  />

                  <v-spacer />
                  <v-btn class="mt-4" block type="submit" :disabled="!form.account || !form.password" color="primary" @click.prevent="login">登入</v-btn>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <v-snackbar
          v-model="snackbar"
          :bottom="y === 'bottom'"
          :color="color"
          :left="x === 'left'"
          :multi-line="mode === 'multi-line'"
          :right="x === 'right'"
          :timeout="timeout"
          :top="y === 'top'"
          :vertical="mode === 'vertical'"
        >
          {{ text }}
          <v-btn
            dark
            text
            @click="snackbar = false"
          >
            關閉
          </v-btn>
        </v-snackbar>

        <v-overlay :value="overlay" :opacity="opacity" color="white">
          <v-progress-circular indeterminate size="64" color="primary"></v-progress-circular>
        </v-overlay>


      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data: () => ({
        overlay: false,
        opacity: 1,
        loginUrl: 'Auth/Login',
        form: {
          account: 'N000171394',
          password: 'JoeKW5432',
        },
        show: false,
        color: 'error',
        mode: '',
        snackbar: false,
        text: '帳號密碼輸入錯誤或您沒有使用權限',
        timeout: 3000,
        x: null,
        y: 'top',
        accountRules: [
          v => !!v || '請輸入帳號',
        ],
        passwordRules: [
          v => !!v || '請輸入密碼',
        ],
    }),
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
        'domain'
      ]),
    },
    methods: {
      login() {
          var self = this
          self.overlay = true
          self.axios.post(`${self.domain}${self.loginUrl}`, self.form)
              .then(response => {
                  self.$store.commit('setUserInfo', response.data)
                  var result = response.data
                  if (result.result === "SUCCESS") {
                      self.$cookies.set('userInfo', result)
                      self.$router.push('/')
                  } else {
                    self.snackbar = true
                  }
                  self.overlay = false
              })
              .catch(function (error) { console.log(error) })
      }
    }
  }
</script>