
<template>
 <v-card>
    <v-card-title>
      <span class="headline text--primary" v-text="title"></span>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="搜尋"
        hide-details
        clearable
      ></v-text-field>
    </v-card-title>

    <v-snackbar
      v-model="snackbar"
      :color="snackbarOption.color"
      :multi-line="snackbarOption.multiline"
      :timeout="snackbarOption.timeout"
      :top="snackbarOption.top"
    >
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
         關閉 
        </v-btn>
      </template>
    </v-snackbar>

    <v-data-table
      :loading="loading"
      loading-text="Loading... Please wait"
      v-bind:headers="headers"
      :items="deptsInfo"
      item-key="sortOrder"
      class="elevation-1" 
      :search="search"
      hide-default-footer
      disable-pagination
      ref="sortableTable"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="info"
                dark
                class="ma-2 d-none d-sm-flex"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon left>mdi-plus</v-icon>
                新增
              </v-btn>
              <v-btn color="info" fab small dark class="ma-2 d-flex d-sm-none"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-autocomplete
                        v-model="editedItem.fullUnitID"
                        :loading="deptLoading"
                        :items="items"
                        :search-input.sync="searchDeptKey"
                        label="部門"
                        hide-details
                        hide-selected
                        item-text="departName"
                        item-value="fullUnitID"
                        @change="changeDept"
                        :readonly="editedIndex != -1"
                        hide-no-data
                      >
                        <template v-slot:selection="{ attr, on, item, selected }">
                          <v-chip
                            v-bind="attr"
                            :input-value="selected"
                            color="indigo"
                            class="white--text"
                            v-on="on"
                            small
                          >
                            <v-icon left>work</v-icon>
                            <span v-text="item.departName || item.fullUnitID"></span>
                          </v-chip>
                        </template>  
                      </v-autocomplete>
                      <v-divider></v-divider>
                      <v-expand-transition>
                        <v-radio-group v-model="editedItem.fullUnitID" :mandatory="false">
                          <v-radio v-for="unit in unitRadios" :label="unit.value" :value="unit.value" :key="unit.key"></v-radio>
                        </v-radio-group>
                      </v-expand-transition>
                    </v-col>
                  </v-row>
                  <v-row>
                      <v-col cols="12">
                        <v-subheader class="pl-0">權限等級</v-subheader>
                        <v-slider
                          v-model="editedItem.level"
                          thumb-label
                          min="0"
                          max="100"
                          step="10"
                          dense
                        >
                        </v-slider>
                      </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.comment" label="備註" clearable @click:clear="editedItem.comment = ''"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="save" :disabled="!editedItem.fullUnitID">
                  <v-icon left>mdi-content-save</v-icon> {{btnSave}}
                </v-btn>
                <v-btn color="blue darken-1" text @click="close">
                  <v-icon left>mdi-close</v-icon> 取消
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item.isEnabled="{item}">
        <v-checkbox class="ml-2" v-model="item.isEnabled" @change="enabled(item)"></v-checkbox>
      </template>

      <template v-slot:item.action="{item}">
        <v-btn class="text-capitalize mr-2" icon color="blue" @click="editItem(item)"><v-icon>mdi-pencil</v-icon></v-btn>
        <v-btn class="text-capitalize" icon color="red" @click="deleteItem(item)" > <v-icon>mdi-delete</v-icon> </v-btn>
      </template>
    </v-data-table>

    <v-dialog v-model="deleteDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">刪除</v-card-title>
        <v-card-text>確定要刪除「{{editedItem.name || editedItem.fullUnitID}}」 ?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="remove()">確定</v-btn>
          <v-btn color="green darken-1" text @click="close()">取消</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data () {
      return {
        menu: false,
        routeParams: {},
        dialog: false,
        deleteDialog: false,
        snackbar: false,
        snackbarOption: {
          color: 'success',
          multiline: false,
          timeout: 5000,
          top: true,
        },
        text: 'Hello, I\'m a snackbar',
        title: '部門權限管理',
        search: '',
        loading: false,
        permissionsUrl: 'DepartmentPermission/getDepartmentPermissions',
        updPermissionsUrl: 'DepartmentPermission/updateDepartmentPermissions',
        addPermissionUrl: 'DepartmentPermission/insertDepartmentPermission',
        deletePermissionUrl: 'DepartmentPermission/deleteDepartmentPermission',
        subPermissionsUrl: 'SubDepartmentPermission/getSubDepartmentPermissions',
        updSubPermissionsUrl: 'SubDepartmentPermission/updateSubDepartmentPermissions',
        addSubPermissionUrl: 'SubDepartmentPermission/insertSubDepartmentPermission',
        deleteSubPermissionUrl: 'SubDepartmentPermission/deleteSubDepartmentPermission',
        autoDeptsUrl: 'Account/getFullUnits',
        headers: [
          {
            text: '停／啟用',
            sortable: false,
            align: 'left',
            value: 'isEnabled'
          },
          {
            text: '部門編號',
            align: 'left',
            value: 'fullUnitID',
          },
          {
            text: '部門名稱',
            align: 'left',
            value: 'name',
          },
          {
            text: '權限等級',
            align: 'center',
            value: 'level',
          },
          {
            text: '備註',
            align: 'left',
            value: 'comment',
          },
          {
            text: '功能區',
            sortable: false,
            align: 'left',
            value: 'action',
          },
        ],
        deptsInfo: [],
        editedIndex: -1,
        editedItem: {
          name: '',
          isEnabled: true,
          level: 0,
          comment: ''
        },
        defaultItem: {
          name: '',
          isEnabled: true,
          level: 0,
          comment: ''
        },
        deptLoading: false,
        items: [],
        searchDeptKey: null,
        selectUnit: '',
      }
    },
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
        'domain',
      ]),
      formTitle () {
        return this.editedIndex === -1 ? '新增權限' : '編輯權限'
      },
      btnSave () {
        return this.editedIndex === -1 ? '新增' : '儲存'
      },
      unitRadios () {
        var unitID = this.selectUnit
        if (!unitID) return []

        return Object.keys(unitID).map(key => {
          return {
            key,
            value: unitID.substring(0, unitID.length - key),
          }
        })
      },
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
      searchDeptKey (val) {
        !val || this.getUsersDebounced()
      },
    },
    created() {
      this.getPermissions();
    },
    methods: {
      //取得權限清單
      getPermissions() {
        this.routeParams = this.$route.params;
        this.routeParams.accessToken = this.userInfo.accessToken;
        this.loading = true;
        this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.subPermissionsUrl}` : `${this.domain}${this.permissionsUrl}`, this.routeParams)
            .then(response => {
              this.loading = false
              this.deptsInfo = response.data
            })
            .catch(error => { console.log(error) });
      },
      //搜尋使用者去抖
      getUsersDebounced() {
        clearTimeout(this._searchTimerId)
        this._searchTimerId = setTimeout(() => {
          this.getUsers()
        }, 500) /* 500ms throttle */
      },
      //搜尋使用者
      getUsers() {
        this.deptLoading = true;
        setTimeout(() => {
          this.axios.post(`${this.domain}${this.autoDeptsUrl}`, {
                accessToken: this.userInfo.accessToken,
                keywords: this.searchDeptKey
              })
              .then(response => {
                this.items = response.data
              })
              .catch(error => { console.log(error) })
              .finally(() => (this.deptLoading = false))
        }, 1000)
      },
      //部門清單選擇
      changeDept(item) {
        if (item){
          console.log(item)
          var dept = this.items.find(i => {return i.fullUnitID == item})
          //this.editedItem.company = dept?.fullUnitID.substring(0, 1) || ''
          //this.editedItem.departmentID = dept?.fullUnitID.substring(1, 5) || ''
          this.editedItem.name = dept?.departName || ''
          this.selectUnit = item
        } else {
          //this.editedItem.company = ''
          //this.editedItem.departmentID = ''
          this.editedItem.name = ''
          this.selectUnit = ''
        }
      },
      //編輯按鈕
      editItem (item) {
        this.editedIndex = this.deptsInfo.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true

        // 編輯 autocomple chip default
        this.items = [{
            name: this.editedItem.name,
            departName: this.editedItem.name,
            fullUnitID: this.editedItem.fullUnitID,
          }]
      },
      //刪除按鈕
      deleteItem (item) {
        this.editedIndex = this.deptsInfo.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.deleteDialog = true
      },
      //關閉按鈕
      close () {
        this.dialog = false
        this.deleteDialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
          this.selectUnit = ''
          this.items = []
        })
      },
      //新增／修改使用者權限
      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.deptsInfo[this.editedIndex], this.editedItem)

          this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.updSubPermissionsUrl}` : `${this.domain}${this.updPermissionsUrl}`, {
              accessToken: this.userInfo.accessToken,
              sortList: [this.editedItem]
          })
          .then(() => {
            this.text = '修改完成'
            this.snackbarOption.color = 'green'
            this.snackbar = true
          })
          .catch(error => { console.log(error) })

        } else {
          this.editedItem.companyID = this.editedItem.fullUnitID.substring(0, 1) || ''
          this.editedItem.departmentID = this.editedItem.fullUnitID.substring(1, 5) || ''

          var params = this.routeParams
          this.editedItem.appID = params?.appID
          this.editedItem.functionGroupID = params?.functionGroupID
          this.editedItem.functionID = params?.functionID
          this.editedItem.subfunctionID = params?.subfunctionID
          // for sub
          this.editedItem.appFunctionID = params?.functionID

          this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.addSubPermissionUrl}` : `${this.domain}${this.addPermissionUrl}`, {
              accessToken: this.userInfo.accessToken,
              sortList: this.editedItem
          })
          .then((user) => {
            this.text = '新增完成'
            this.snackbarOption.color = 'green'
            this.snackbar = true
            this.deptsInfo.push(user.data)
          })
          .catch(error => { console.log(error) })
        }
        this.close()
      },
      //刪除使用者權限
      remove (){
        this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.deleteSubPermissionUrl}` : `${this.domain}${this.deletePermissionUrl}`, {
            accessToken: this.userInfo.accessToken,
            uuid: this.editedItem.uuid
        })
        .then(() => {
          this.text = '刪除完成'
          this.snackbarOption.color = 'green'
          this.snackbar = true
          this.deptsInfo = this.deptsInfo.filter(u => { return u.uuid !== this.editedItem.uuid})
        })
        .catch(error => { console.log(error) })
        .finally(() => (this.close()))
      },
      //停／啟用權限
      enabled (item) {
        console.log(item);
        this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.updSubPermissionsUrl}` : `${this.domain}${this.updPermissionsUrl}`, {
            accessToken: this.userInfo.accessToken,
            sortList: [item]
        })
        .then(() => {
          this.text = `${item.name} - ${item.isEnabled ? '啟用' : '停用'}`
          this.snackbarOption.color = item.isEnabled ? 'green' : 'red'
          this.snackbar = true;
        })
        .catch(error => { console.log(error) })
      },
    }
  }
</script>
