
<template>
 <v-card>
    <v-card-title>
      <span class="headline text--primary" v-text="title"></span>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="搜尋"
        hide-details
        clearable
      ></v-text-field>
    </v-card-title>

    <v-snackbar
      v-model="snackbar"
      :color="snackbarOption.color"
      :multi-line="snackbarOption.multiline"
      :timeout="snackbarOption.timeout"
      :top="snackbarOption.top"
    >
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
         關閉 
        </v-btn>
      </template>
    </v-snackbar>

    <v-data-table
      :loading="loading"
      loading-text="Loading... Please wait"
      v-bind:headers="headers"
      :items="groupsInfo"
      item-key="sortOrder"
      class="elevation-1" 
      :search="search"
      hide-default-footer
      disable-pagination
      ref="sortableTable"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="info"
                dark
                class="ma-2 d-none d-sm-flex"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon left>mdi-plus</v-icon>
                新增
              </v-btn>
              <v-btn color="info" fab small dark class="ma-2 d-flex d-sm-none"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-select
                        v-model="editedItem.groupID"
                        :items="editedIndex == -1 ? items : allGroups"
                        label="群組"
                        item-text="GroupName"
                        item-value="Guid"
                        :readonly="editedIndex != -1"
                        hide-no-data
                      >
                        <template v-slot:selection="{ attr, on, item, selected }">
                          <v-chip
                            v-bind="attr"
                            :input-value="selected"
                            color="indigo"
                            class="white--text"
                            v-on="on"
                            small
                          >
                            <v-icon left>people</v-icon>
                            <span v-text="item.GroupName"></span>
                          </v-chip>
                        </template>  
                      </v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                      <v-col cols="12">
                        <v-subheader class="pl-0">權限等級</v-subheader>
                        <v-slider
                          v-model="editedItem.level"
                          thumb-label
                          min="0"
                          max="100"
                          step="10"
                          dense
                        >
                        </v-slider>
                      </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.comment" label="備註" clearable @click:clear="editedItem.comment = ''"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="save" :disabled="!editedItem.groupID">
                  <v-icon left>mdi-content-save</v-icon> {{btnSave}}
                </v-btn>
                <v-btn color="blue darken-1" text @click="close">
                  <v-icon left>mdi-close</v-icon> 取消
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item.isEnabled="{item}">
        <v-checkbox class="ml-2" v-model="item.isEnabled" @change="enabled(item)"></v-checkbox>
      </template>

      <template v-slot:item.name="{item}">
          {{getGroupName(item)}}
      </template>

      <template v-slot:item.action="{item}">
        <v-btn class="text-capitalize mr-2" icon color="blue" @click="editItem(item)"><v-icon>mdi-pencil</v-icon></v-btn>
        <v-btn class="text-capitalize" icon color="red" @click="deleteItem(item)" > <v-icon>mdi-delete</v-icon> </v-btn>
      </template>
    </v-data-table>

    <v-dialog v-model="deleteDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">刪除</v-card-title>
        <v-card-text>確定要刪除「{{getGroupName(editedItem)}}」 ?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="remove()">確定</v-btn>
          <v-btn color="green darken-1" text @click="close()">取消</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data () {
      return {
        menu: false,
        routeParams: {},
        dialog: false,
        deleteDialog: false,
        snackbar: false,
        snackbarOption: {
          color: 'success',
          multiline: false,
          timeout: 5000,
          top: true,
        },
        text: 'Hello, I\'m a snackbar',
        title: '群組權限管理',
        search: '',
        loading: false,
        permissionsUrl: 'OnedayGroupPermission/getOnedayGroupPermissions',
        updPermissionsUrl: 'OnedayGroupPermission/updateOnedayGroupPermissions',
        addPermissionUrl: 'OnedayGroupPermission/insertOnedayGroupPermission',
        deletePermissionUrl: '/OnedayGroupPermission/deleteOnedayGroupPermission',
        subPermissionsUrl: 'SubOnedayGroupPermission/getSubOnedayGroupPermissions',
        updSubPermissionsUrl: 'SubOnedayGroupPermission/updateSubOnedayGroupPermissions',
        addSubPermissionUrl: 'SubOnedayGroupPermission/insertSubOnedayGroupPermission',
        deleteSubPermissionUrl: 'SubOnedayGroupPermission/deleteSubOnedayGroupPermission',
        allGroupsUrl: 'MlFpcRead/getGroupCount',
        viewGroupsUrl: 'MlFpcRead/getViewGroup',
        autoDeptsUrl: 'Account/getFullUnits',
        headers: [
          {
            text: '停／啟用',
            sortable: false,
            align: 'left',
            value: 'isEnabled'
          },
          {
            text: '群組名稱',
            align: 'left',
            value: 'name',
          },
          {
            text: '權限等級',
            align: 'center',
            value: 'level',
          },
          {
            text: '備註',
            align: 'left',
            value: 'comment',
          },
          {
            text: '功能區',
            sortable: false,
            align: 'left',
            value: 'action',
          },
        ],
        groupsInfo: [],
        allGroups: [],
        viewGroups: [],
        editedIndex: -1,
        editedItem: {
          name: '',
          isEnabled: true,
          level: 0,
          comment: ''
        },
        defaultItem: {
          name: '',
          isEnabled: true,
          level: 0,
          comment: ''
        },
        items: [],
        searchDeptKey: null,
        selectUnit: '',
      }
    },
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
        'domain',
      ]),
      formTitle () {
        return this.editedIndex === -1 ? '新增權限' : '編輯權限'
      },
      btnSave () {
        return this.editedIndex === -1 ? '新增' : '儲存'
      },
      unitRadios () {
        var unitID = this.selectUnit
        if (!unitID) return []

        return Object.keys(unitID).map(key => {
          return {
            key,
            value: unitID.substring(0, unitID.length - key),
          }
        })
      },
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
      searchDeptKey (val) {
        !val || this.getUsersDebounced()
      },
    },
    created() {
      this.getPermissions()
      this.getAllGroups()
      this.getViewGroups()
    },
    methods: {
      //取得群組清單
      getAllGroups() {
        this.axios.post(`${this.domain}${this.allGroupsUrl}`, {
                accessToken: this.userInfo.accessToken
            })
            .then(response => {
              this.allGroups = response.data
            })
            .catch(error => { console.log(error) });
      },
      //取得群組名稱
      getGroupName(item) {
        return this.allGroups.find(g => {return g.Guid == item.groupID})?.GroupName
      },
      //取得可使用群組清單
      getViewGroups() {
        this.axios.post(`${this.domain}${this.viewGroupsUrl}`, {
                accessToken: this.userInfo.accessToken
            })
            .then(response => {
              this.items = response.data
            })
            .catch(error => { console.log(error) });
      },
      //取得權限清單
      getPermissions() {
        this.routeParams = this.$route.params
        this.routeParams.accessToken = this.userInfo.accessToken
        this.loading = true
        this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.subPermissionsUrl}` : `${this.domain}${this.permissionsUrl}`, this.routeParams)
            .then(response => {
              this.loading = false
              this.groupsInfo = response.data
            })
            .catch(error => { console.log(error) });
      },
      //編輯按鈕
      editItem (item) {
        this.editedIndex = this.groupsInfo.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      //刪除按鈕
      deleteItem (item) {
        this.editedIndex = this.groupsInfo.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.deleteDialog = true
      },
      //關閉按鈕
      close () {
        this.dialog = false
        this.deleteDialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
          this.selectUnit = ''
        })
      },
      //新增／修改使用者權限
      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.groupsInfo[this.editedIndex], this.editedItem)

          this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.updSubPermissionsUrl}` : `${this.domain}${this.updPermissionsUrl}`, {
              accessToken: this.userInfo.accessToken,
              sortList: [this.editedItem]
          })
          .then(() => {
            this.text = '修改完成'
            this.snackbarOption.color = 'green'
            this.snackbar = true
          })
          .catch(error => { console.log(error) })

        } else {
          var params = this.routeParams
          this.editedItem.appID = params?.appID
          this.editedItem.functionGroupID = params?.functionGroupID
          this.editedItem.functionID = params?.functionID
          this.editedItem.subfunctionID = params?.subfunctionID
          // for sub
          this.editedItem.appFunctionID = params?.functionID

          this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.addSubPermissionUrl}` : `${this.domain}${this.addPermissionUrl}`, {
              accessToken: this.userInfo.accessToken,
              sortList: this.editedItem
          })
          .then((user) => {
            this.text = '新增完成'
            this.snackbarOption.color = 'green'
            this.snackbar = true
            this.groupsInfo.push(user.data)
          })
          .catch(error => { console.log(error) })
        }
        this.close()
      },
      //刪除使用者權限
      remove (){
        this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.deleteSubPermissionUrl}` : `${this.domain}${this.deletePermissionUrl}`, {
            accessToken: this.userInfo.accessToken,
            uuid: this.editedItem.uuid
        })
        .then(() => {
          this.text = '刪除完成'
          this.snackbarOption.color = 'green'
          this.snackbar = true
          this.groupsInfo = this.groupsInfo.filter(u => { return u.uuid !== this.editedItem.uuid})
        })
        .catch(error => { console.log(error) })
        .finally(() => (this.close()))
      },
      //停／啟用權限
      enabled (item) {
        let _this = this;
        console.log(item);
        this.axios.post(this.routeParams.subfunctionID ? `${this.domain}${this.updSubPermissionsUrl}` : `${this.domain}${this.updPermissionsUrl}`, {
            accessToken: this.userInfo.accessToken,
            sortList: [item]
        })
        .then(() => {
          this.text = `${_this.allGroups.find(g => g.Guid === item.groupID)?.GroupName} - ${item.isEnabled ? '啟用' : '停用'}`
          this.snackbarOption.color = item.isEnabled ? 'green' : 'red'
          this.snackbar = true;
        })
        .catch(error => { console.log(error) })
      },
    }
  }
</script>
