
<template>
 <v-card>
    <v-card-title>
      <span class="headline text--primary" v-text="title"></span>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="搜尋"
        hide-details
        clearable
      ></v-text-field>
    </v-card-title>

    <v-snackbar
      v-model="snackbar"
      :color="snackbarOption.color"
      :multi-line="snackbarOption.multiline"
      :timeout="snackbarOption.timeout"
      :top="snackbarOption.top"
    >
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
         關閉 
        </v-btn>
      </template>
    </v-snackbar>

    <v-dialog v-model="iconDialog" max-width="400">
      <v-card>
        <v-card-title class="headline"></v-card-title>
        <v-card-text>
          <v-img :src="dialogIconUrl" alt="icon"></v-img>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="iconDialog = false" > 關閉 </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-data-table
      :loading="loading"
      loading-text="Loading... Please wait"
      v-bind:headers="headers"
      :items="subfunctionsInfo.data"
      item-key="sortOrder"
      class="elevation-1" 
      :search="search"
      hide-default-footer
      disable-pagination
      ref="sortableTable"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="info"
                dark
                class="ma-2 d-none d-sm-flex"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon left>mdi-plus</v-icon>
                新增
              </v-btn>
              <v-btn color="info" fab small dark class="ma-2 d-flex d-sm-none"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.name" label="中文名稱" clearable></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12" class="d-none">
                      <v-text-field v-model="editedItem.sortOrder" label="排序" hide-details single-line type="number" />
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-file-input :value="icon || iconFile" accept="image/*" small-chips label="圖示" @change="previewImage" dense></v-file-input>
                    </v-col>
                    <v-col cols="12" sm="12" md="12" v-show="editedItem.iconURL">
                      <v-img :src="editedItem.iconURL" aspect-ratio="1.7" contain></v-img>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.webURL" label="網頁來源"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12" class="d-none">
                    <!--<v-col cols="12" sm="12" md="12">-->
                      <v-text-field v-model="editedItem.sortOrder" label="排序" hide-details single-line type="number" />
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-checkbox v-model="editedItem.isEnabled" label="停／啟用"></v-checkbox>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-checkbox v-model="editedItem.defaultPermission" label="不控管權限(所有人都可使用)"></v-checkbox>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field v-model="editedItem.comment" label="備註" clearable></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="save" :disabled="!editedItem.name">
                  <v-icon left>mdi-content-save</v-icon> {{btnSave}}
                </v-btn>
                <v-btn color="blue darken-1" text @click="close">
                  <v-icon left>mdi-close</v-icon> 取消
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-btn
            color="teal"
            dark
            class="ma-2 d-none d-sm-flex"
            @click="saveOrder"
          >
            <v-icon left>mdi-content-save</v-icon>
            儲存排序
          </v-btn>
          <v-btn color="teal" fab small dark class="ma-2 d-flex d-sm-none" @click="saveOrder">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>

          <v-btn
            color="deep-orange lighten-1"
            dark
            class="ma-2 d-none d-sm-flex"
            @click="resetSort"
          >
            <v-icon left>mdi-format-align-justify</v-icon>
            重新排序
          </v-btn>
          <v-btn color="deep-orange lighten-1" fab small dark class="ma-2 d-flex d-sm-none" @click="resetSort"> 
            <v-icon>mdi-format-align-justify</v-icon>
          </v-btn>
        </v-toolbar>
      </template>

      <template v-slot:item.sortOrder="{item}" v-if="subfunctionsInfo.isMovable">
        <span class="d-none">{{item.sortOrder}}</span>
        <v-icon style="cursor: move" class="sortHandle">drag_handle</v-icon>
      </template>

      <template v-slot:item.isEnabled="{item}">
        <v-checkbox class="ml-2" v-model="item.isEnabled" @change="enabled(item)" disabled></v-checkbox>
      </template>

      <template v-slot:item.iconURL="{item}">
        <v-avatar v-if="item.iconURL" tile size="50" @click="showIcon(item.iconURL)" style="cursor: pointer;">
          <v-img :src="item.iconURL" alt="icon" contain ></v-img>
        </v-avatar>
      </template>

      <template v-slot:item.name="{item}">
        <span>{{ item.name }} </span> <v-icon color="pink" v-if="item.webURL">web</v-icon>
      </template>

      <template v-slot:item.priv="{item}">
        <v-chip color="teal" text-color="white" class="mr-2" @click="goPermission('user',item.functionID)" > <v-icon left>person</v-icon> {{item.ucount}} </v-chip>
        <v-chip color="cyan" text-color="white" class="mr-2" @click="goPermission('dept', item.functionID)" > <v-icon left>work</v-icon> {{item.dcount}} </v-chip>
        <v-chip color="indigo" text-color="white" class="mr-2" @click="goPermission('group', item.functionID)" > <v-icon left>people</v-icon> {{item.gcount}} </v-chip>
      </template>

      <template v-slot:item.action="{item}">
        <v-btn class="text-capitalize" icon color="blue" @click="editItem(item)"><v-icon>mdi-pencil</v-icon></v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
  import { mapState } from 'vuex';
  import Sortable from 'sortablejs';

  export default {
    props: {
        appID: String,
        functionGroupID: String,
        functionID: String,
    },
    data () {
      return {
        dialog: false,
        iconDialog: false,
        dialogIconUrl: '',
        snackbar: false,
        snackbarOption: {
          color: 'success',
          multiline: false,
          timeout: 4000,
          top: true,
        },
        text: 'Hello, I\'m a snackbar',
        title: '子功能清單',
        search: '',
        loading: false,
        functionsUrl: 'SubAppFunction/getSubAppFunctions',
        updFunctionsUrl: 'SubAppFunction/updateSubAppFunctions',
        addFunctionUrl: 'SubAppFunction/addSubAppFunction',
        headers: [
          {
            sortable: false,
            align: 'center',
            value: 'sortOrder'
          },
          {
            text: '停／啟用',
            sortable: false,
            align: 'left',
            value: 'isEnabled'
          },
          {
            text: '功能編號',
            sortable: false,
            align: 'center',
            value: 'functionID',
          },
          {
            text: '圖示',
            sortable: false,
            align: 'left',
            value: 'iconURL',
          },
          {
            text: '功能名稱',
            sortable: false,
            align: 'left',
            value: 'name',
          },
          {
            text: '備註',
            sortable: false,
            align: 'left',
            value: 'comment',
          },
          {
            text: '權限管理',
            sortable: false,
            align: 'left',
            value: 'priv',
          },
          {
            text: '功能區',
            sortable: false,
            align: 'center',
            value: 'action',
          },
        ],
        isMovable: false,
        subfunctionsInfo: {},
        editedIndex: -1,
        editedItem: {
          name: '',
          isEnabled: true,
          iconURL: '',
          webURL: '',
          comment: ''
        },
        defaultItem: {
          name: '',
          isEnabled: true,
          iconURL: '',
          webURL: '',
          comment: ''
        },
        icon: null
      }
    },
    computed: {
      // 使用展開運算符將 mapState 混合到外部物件中
      ...mapState([
        'userInfo',
        'domain',
      ]),
      formTitle () {
        return this.editedIndex === -1 ? '新增群組' : '編輯群組'
      },
      btnSave () {
        return this.editedIndex === -1 ? '新增' : '儲存'
      },
      fheaders () {
        return this.headers.filter()  
      },
      iconFile() {
        let iconURL = this.editedItem.iconURL.split('/').pop()
        if(iconURL){
          return new File([iconURL], iconURL)
        }
        return null
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      },
    },
    created() {
      this.getSubFunctions();
    },
    methods: {
      getSubFunctions() {
        var self = this;
        self.loading = true;
        self.axios.post(`${self.domain}${self.functionsUrl}`, { 
              accessToken: self.userInfo.accessToken,
              appID: self.appID,
              functionGroupID: self.functionGroupID,
              functionID: self.functionID,
            })
            .then(response => {
              self.loading = false
              self.subfunctionsInfo = response.data
              //console.log(self.$refs.sortableTable.$el.getElementsByTagName('tbody')[0])

              self.$nextTick(() => {
                new Sortable(
                  self.$refs.sortableTable.$el.getElementsByTagName('tbody')[0],
                  {
                    //draggable: '.sortableRow',
                    handle: '.sortHandle',
                    forcePlaceholderSize: true,
                    onEnd: this.dragReorder
                  }
                )

              })
            })
            .catch(error => { console.log(error) });
      },
      editItem (item) {
        this.editedIndex = this.subfunctionsInfo.data.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },
      close () {
        this.icon = null
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },
      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.subfunctionsInfo.data[this.editedIndex], this.editedItem)

          let config = {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }

          this.editedItem.iconURL = ''
          let postforms = new FormData()
          postforms.append('accessToken', this.userInfo.accessToken)
          postforms.append('sortList', '[' + JSON.stringify(this.editedItem) + ']')
          postforms.append('file', this.icon)
          this.axios.post(`${this.domain}${this.updFunctionsUrl}`, postforms, config)
          .then(() => {
            this.text = '修改完成'
            this.snackbarOption.color = 'green'
            this.snackbar = true;
          })
          .catch(error => { console.log(error) })

        } else {
          //this.functionsInfo.data.push(this.editedItem)

          this.editedItem.iconURL = ''
          this.editedItem.appID = this.appID
          this.editedItem.functionGroupID = this.functionGroupID
          this.editedItem.appFunctionID = this.functionID

          let config = {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }

          let postforms = new FormData()
          postforms.append('accessToken', this.userInfo.accessToken)
          postforms.append('sortList', JSON.stringify(this.editedItem))
          postforms.append('file', this.icon)

          this.axios.post(`${this.domain}${this.addFunctionUrl}`, postforms, config)
          .then((res) => {
            res.data.files = null
            this.subfunctionsInfo.data.push(res.data)

            this.text = '新增完成'
            this.snackbarOption.color = 'green'
            this.snackbar = true;
          })
          .catch(error => { console.log(error) })
        }
        this.close()
      },
      enabled (item) {
        console.log(item);

        let config = {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }

        let postforms = new FormData()
        postforms.append('accessToken', this.userInfo.accessToken)
        postforms.append('sortList', '[' + JSON.stringify(item) + ']')

        this.axios.post(`${this.domain}${this.updFunctionsUrl}`, postforms, config)
        .then(() => {
          this.text = `${item.name} - ${item.isEnabled ? '啟用' : '停用'}`
          this.snackbarOption.color = item.isEnabled ? 'green' : 'red'
          this.snackbar = true;
        })
        .catch(error => { console.log(error) });
      },
      resetSort (){
        this.subfunctionsInfo.data = this.subfunctionsInfo.data.sort(
            function (a, b) {
                return a.sortOrder - b.sortOrder;
            }
        );
      },
      dragReorder ({oldIndex, newIndex}) {
        const movedItem = this.subfunctionsInfo.data.splice(oldIndex, 1)[0]
        this.subfunctionsInfo.data.splice(newIndex, 0, movedItem)
      },
      saveOrder (){
        let config = {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }

        let postforms = new FormData()
        postforms.append('accessToken', this.userInfo.accessToken)
        postforms.append('sortList', JSON.stringify(this.subfunctionsInfo.data))

        this.axios.post(`${this.domain}${this.updFunctionsUrl}`, postforms, config)
        .then(() => {
          this.text = '儲存完成'
          this.snackbarOption.color = 'black'
          this.snackbar = true

          this.getSubFunctions()
        })
        .catch(error => { console.log(error) });
      },
      showIcon(iconUrl) {
        this.iconDialog = true
        this.dialogIconUrl = iconUrl
      },
      previewImage: function(event) {
        var input = event
        this.icon = input
        if (input) {
            var reader = new FileReader()
            reader.onload = (e) => {
                this.editedItem.iconURL = e.target.result
            }
            reader.readAsDataURL(input)
        } else {
          this.editedItem.iconURL = ''
        }
      },
      goPermission(type, val) {
        let domain = 'priv'
        this.$router.push(`/${domain}/${type}/${this.appID}/${this.functionGroupID}/${this.functionID}/${val}`)
      },
    }
  }
</script>
